{% extends 'base.html' %}
{% load widget_tweaks i18n account socialaccount %}

{% block container %}
    {% get_providers as socialaccount_providers %}

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="well">
                <h2>Persephone Login</h2>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value|default_if_none:'/' }}"/>
                    <div class="form-group">
                        {#                        {{ form.login.label_tag }}#}
                        {% render_field form.login class+="form-control" %}
                    </div>
                    <div class="form-group">
                        {#                        {{ form.password.label_tag }}#}
                        {% render_field form.password class+="form-control" %}
                    </div>
                    {% if form.errors %}
                        <p class="bg-danger" style="padding: 10px;">
                            Your username and password didn't match. Please try again.
                        </p>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-login">Log in</button>
                </form>

                {% if global_settings.google_login_enabled %}
                    <hr class="login-separator">
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
