body {
    padding-top: 20px;
}

/* Login Page */

.socialaccount_providers {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socialaccount_provider.google {
    display: inline-block;
    text-indent: -9999px;
    width: 191px;
    height: 46px;
    background-image: url('img/btn_google_signin.png');
    background-size: 191px 46px;
}

.login-separator {
    margin: 10px 0 10px 0;
    border-top: 1px solid #cccccc;
}

.btn-login {
    width: 100%;
}

.login-title {
    text-align: center;
}

.login-title > img {
    vertical-align: baseline;
    margin-right: -7px;
}

/* Common Code */

.form-display-inline {
    display: inline;
}

.form-help-text {
    color: #666;
    padding-top: 4px;
}

.collapsed-screenshot {
    display: none;
}

.panel-diff .panel-body {
    position: relative;
}

.panel-diff .image {
    width: calc(33.3% - 3px);
    display: inline-block;
    position: relative;
}

.panel-diff .image > img {
    width: 100%;
    border: 1px solid black;
}

.project-list .thumbnail {
    height: 220px;
    text-decoration: none;
}

.project-list .thumbnail.add-project {
    background-color: #dff0d8;
}

.dropdown-inline {
    display: inline-block;
}

.subtle-underline {
    border-bottom: 1px dashed #999999;
}

.navbar-brand {
    padding: 8px 5px 8px 15px;
}

.screenshot-panel-heading {
    display: flex; 
    align-items: center;
}

.screenshot-console-button {
    margin-left: auto;
}

.screenshot-console-modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.modal-open {
    display: flex;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
}

.screenshot-console-modal {
    width: 600px;
    max-height: 600px;
    background-color: #f5f5f5;
    border: 1px solid #cccccc
}

.screenshot-console-modal-inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
}

.screenshot-console-modal-title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.screenshot-console-entries {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.screenshot-console-entry {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #cccccc;
    overflow-wrap: break-word;
}

.screenshot-console-entry:not(:last-child) {
    margin-bottom: 15px;
}

.console-entry-severe {
    background-color: #ffcdd2;
}

.console-entry-warn {
    background-color: #fff59d;
}

.screenshot-console-modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
