body {
    padding-top: 20px;
}

/* Login Page */

.socialaccount_providers {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socialaccount_provider.google {
    display: inline-block;
    text-indent: -9999px;
    width: 191px;
    height: 46px;
    background-image: url('img/btn_google_signin.png');
    background-size: 191px 46px;
}

.login-separator {
    margin: 10px 0 10px 0;
    border-top: 1px solid #cccccc;
}

.btn-login {
    width: 100%;
}

.login-title {
    text-align: center;
}

.login-title > img {
    vertical-align: baseline;
    margin-right: -7px;
}

/* Common Code */

.form-display-inline {
    display: inline;
}

.form-help-text {
    color: #666;
    padding-top: 4px;
}

.collapsed-screenshot {
    display: none;
}

.panel-diff .panel-body {
    position: relative;
}

.panel-diff .image {
    width: calc(33.3% - 3px);
    display: inline-block;
    position: relative;
}

.panel-diff .image > img {
    width: 100%;
    border: 1px solid black;
}

.project-list .thumbnail {
    height: 220px;
    text-decoration: none;
}

.project-list .thumbnail.add-project {
    background-color: #dff0d8;
}

.dropdown-inline {
    display: inline-block;
}

.subtle-underline {
    border-bottom: 1px dashed #999999;
}

.navbar-brand {
    padding: 8px 5px 8px 15px;
}
