{% extends 'page.html' %}
{% load builds_filters %}

{% block container %}
    {{ block.super }}

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div class="pull-right">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-default" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'builds:build_delete' build.project_id build.id %}"
                                   data-action="confirm-post"
                                   data-csrf-token="{{ csrf_token }}">
                                    Delete Build
                                </a>
                            </li>
                        </ul>
                    </div>

                    <a href="{% url 'builds:project' build.project_id %}" class="btn btn-primary">
                        View Project
                    </a>

                    {% if build.state == build.STATE_PENDING_REVIEW %}
                        <form action="{% url 'builds:build_approve' build.project_id build.id %}"
                              method="post" class="form-display-inline">
                            {% csrf_token %}
                            <button class="btn btn-success">Approve</button>
                        </form>
                    {% endif %}
                    {% if build.state == build.STATE_PENDING_REVIEW or build.state == build.STATE_APPROVED %}
                        <form action="{% url 'builds:build_reject' build.project_id build.id %}"
                              method="post" class="form-display-inline">
                            {% csrf_token %}
                            <button class="btn btn-danger">Reject</button>
                        </form>
                    {% endif %}
                </div>

                <h3>
                    {{ build.id }}
                    {% with build.original_build_url as url %}
                        (<a href="{% if url %}{{ url }}{% endif %}">CI
                        #{{ build.original_build_number }}
                        <small><span
                                class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                        </small>
                    </a>)
                    {% endwith %}
                    {% if build.archived %}
                        <span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
                    {% endif %}
                </h3>
                <h4>
                    {{ build.branch_name }}
                    <a href="https://github.com/{{ build.project.github_repo_name }}/commit/{{ build.commit_hash }}">
                        {{ build.commit_hash }}
                        <small><span
                                class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                        </small>
                    </a>
                </h4>
                <h4>
                    {% if build.pull_request_id %}
                        Pull Request:
                        <a href="https://github.com/{{ build.project.github_repo_name }}/pull/{{ build.pull_request_id }}">
                            #{{ build.pull_request_id }}</a>
                        <br>
                    {% endif %}
                </h4>
                <h4>State: {{ build.get_state_display }}</h4>
                Started: {{ build.date_started }}<br>
                {% if build.date_finished %}
                    Finished: {{ build.date_finished }}<br>
                {% endif %}
                {% if build.date_approved %}
                    Approved: {{ build.date_approved }}<br>
                {% endif %}
                {% if build.date_rejected %}
                    Rejected: {{ build.date_rejected }}<br>
                {% endif %}
                {% if build.reviewed_by %}
                    Reviewed by: {{ build.reviewed_by }}<br>
                {% endif %}
                Baseline:
                {% if build.parent %}
                    <a href="{% url 'builds:build' build.parent.project_id build.parent.id %}">
                        {{ build.parent.branch_name }} / {{ build.parent.commit_hash }}
                        ({{ build.parent.date_started }})
                    </a>
                {% else %}
                    no baseline
                {% endif %}

                {% if build.screenshots_by_color %}
                    {% include 'partials/_build_progress_bar.html' %}
                {% endif %}
            </div>
        </div>
    </div>

    {% for screenshot in screenshots %}
        <div class="row {% if screenshot.state == screenshot.STATE_MATCHING %}collapsed-screenshot{% endif %}">
            <div class="col-md-12">
                <div class="panel panel-default panel-diff">
                    <div class="panel-heading">
                        {{ screenshot.name }}
                        ({{ screenshot.get_state_display }}{% if screenshot.image_diff_amount %}
                        {{ screenshot.image_diff_amount }}{% endif %})
                    </div>
                    <div class="panel-body">
                        <div class="image image-parent">
                            {% if screenshot.parent.image %}
                                {% url 'builds:screenshot_image' build.parent.project_id build.parent.id screenshot.parent.name as image %}
                                <img src="{{ image }}">
                            {% endif %}
                        </div>
                        <div class="image image-diff">
                            {% if screenshot.image_diff %}
                                {% url 'builds:screenshot_image_diff' build.project_id build.id screenshot.name as image %}
                                <img src="{{ image }}">
                            {% endif %}
                        </div>
                        <div class="image image-current">
                            {% if screenshot.image %}
                                {% url 'builds:screenshot_image' build.project_id build.id screenshot.name as image %}
                                <img src="{{ image }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if num_matching %}
        <div class="row uncollapse-screenshots">
            <div class="col-md-12">
                <div class="well text-center">
                    <button type="button" class="btn btn-primary">
                        View {{ num_matching }} collapsed matching screenshots
                    </button>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        $(function() {
            $('.panel-body .image img').elevateZoom({
                zoomType: 'inner',
                cursor: 'crosshair'
            });
            $('.uncollapse-screenshots').click(function() {
                $('.uncollapse-screenshots').hide();
                $('.collapsed-screenshot').slideDown();
            })
        })
    </script>
{% endblock %}
