{% extends 'page.html' %}

{% block container %}
    {{ block.super }}

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                {% for project in projects %}
                    <a href="{% url 'builds:project' project.id %}">{{ project.name }}</a><br>
                {% empty %}
                    You have no projects.
                {% endfor %}

                <a href="{% url 'builds:project_create' %}">Create Project</a>
            </div>
        </div>
    </div>
{% endblock %}
