{% extends 'page.html' %}

{% block container %}
    {{ block.super }}

    <form method="post">
        {% csrf_token %}
        {{ form.errors }}
        <div class="well">
            <div class="form-group">
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.public_endpoint }}
            </div>
            <div class="form-group">
                {{ form.github_repo_name }}
            </div>
            <div class="form-group">
                {{ form.github_api_key }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}
