{% extends 'page.html' %}

{% block container %}
    {{ block.super }}
    <div class="well">
        <h3 class="align">
            Project {{ project.name }}

            (<a href="https://github.com/{{ project.github_repo_name }}"
                target="_blank">{{ project.github_repo_name }}
            <small><span
                    class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small>
        </a>)

            <div class="dropdown dropdown-inline">
                <button type="button" class="btn btn-sm btn-default" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'builds:project_update' project.id %}">
                            Edit
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'builds:project_delete' project.id %}"
                           data-action="confirm-post"
                           data-csrf-token="{{ csrf_token }}">
                            Delete
                        </a>
                    </li>
                </ul>
            </div>
        </h3>

        <hr>

        <h4><strong>Builds</strong></h4>
        <table class="table table-bordered">
            {% for build in active_builds %}
                {% with 1 as show_progress_bar %}
                    {% include 'partials/_project_build.html' %}
                {% endwith %}
            {% endfor %}

            {% for build in past_builds %}
                {% include 'partials/_project_build.html' %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
