<tr class="{% if build.state == build.STATE_RUNNING or build.state == build.STATE_PENDING_REVIEW %}active{% endif %}">
    <td>
        <a href="{% url 'builds:build' build.project_id build.id %}">
            {{ build.id }}
            {% if build.original_build_number %}
                (CI #{{ build.original_build_number }})
            {% endif %}
        </a>
        <br>
        {{ build.date_started }}
    </td>
    <td>
        {{ build.get_state_display }}
        {% if build.reviewed_by %}
            (by {{ build.reviewed_by }})
        {% endif %}
    </td>
    <td>
        {{ build.branch_name }}

        <a href="{% url 'builds:build' build.project_id build.id %}">
            {{ build.commit_hash }}
        </a>
        {% if build.archived %}(archived){% endif %}

        {% if show_progress_bar %}
            {% include 'partials/_build_progress_bar.html' %}
        {% endif %}
    </td>
    <td>
        <div class="dropdown dropdown-inline">
            <button type="button" class="btn btn-sm btn-default" data-toggle="dropdown">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'builds:build_delete' build.project_id build.id %}"
                       data-action="confirm-post"
                       data-csrf-token="{{ csrf_token }}">
                        Delete
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>
